appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.3
colorama==0.4.3
distlib==0.3.1
Django==3.1rc1
filelock==3.0.12
isort==5.1.4
lazy-object-proxy==1.5.0
MainApp==0.1
mccabe==0.6.1
memory-profiler==0.57.0
psutil==5.7.2
pycodestyle==2.6.0
pylint==2.5.3
Pympler==0.8
pytz==2020.1
six==1.15.0
somepackage==1.2.3
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.27
wrapt==1.12.1
